.av-header{
    width: fit-content;
}
.fav-parent{
    padding: 0;
    display: flex;
    margin: 10px 50px;
    box-shadow: 3px 3px 8px black;
    border-radius: 20px;
}
.fav-child{
    margin: 20px;
}
.fav-child img{
    width: 100%;
    border-radius: 10px;
    height: auto;
}